body {
  color: #00000;
}

select {
  margin-bottom: 20px;
}

#mainScreen, #categorySelect, #levelSelect {
  margin-bottom: 40px;
}

#categorySelect, #levelSelect {
  display: none;
}

.card {
  display: none;
  align-items: center;
  width: 70%;
  margin: 20px auto;
  max-width: 800px;
}

#answerSection {
  display: none;
}
