body {
  color: #00000;
}

select {
  margin-bottom: 20px;
}

#mainScreen, #categorySelect, #levelSelect {
  margin-bottom: 40px;
}

#categorySelect, #levelSelect {
  display: none;
}

.card {
  display: none;
  align-items: center;
  width: 70%;
  margin: 20px auto;
  max-width: 800px;
}

#answerSection {
  display: none;
  margin-top: 40px;
}

#testResults {
  display: none;
}

.gridContainer {
  display: grid;
  grid-template-columns: auto auto;
  background-color: #c3dbef;
  padding: 10px;
}

.gridItem {
  background-color: #ffffff;
  border: 1px solid #000000;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

#correctResults, #incorrectResults {
  font-size: 18px;
}

#scoreResults {
  margin: 0 auto 30px auto;
  text-align: center;
  font-size: 2em;
}

#scoreGif {
  margin: 0 auto;
  text-align: center;
}

.giphy-image {
  margin: 40px auto;
  text-align: center;
}

#resetGame {
  margin: 0 auto;
  margin-top: 30px;
  display: block;
}
